$site-background-color: #512888; // dark slate blue
$site-background-color-gradient: #D4D2D5; // floral white
$synth-background-color: #512888; // dark slate blue
$synth-border-color: #32174D; // indigo
$synth-border-color-trans: #32174D88; // indigo transparent
$synth-detail-color-primary: #EA1F48; // crimson
$synth-detail-color-primary-trans: #EA1F4844; // crimson transparent
$synth-detail-color-secondary: #FBB13C	; // goldenrod

.rack {
  background-color: $synth-background-color;
  border: 3px solid $synth-border-color;
  box-shadow: inset 0 0 0.5rem $synth-border-color,  0px 0.5rem 1rem $synth-border-color-trans;
  border-radius: 10px;
  text-align: right;
  position: relative;

  display: flex;
  flex-direction: column;

  .synth-container {
    padding: 4rem 2rem 2rem;
  }

  .branding {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.5rem;
    font-family: cursive;

    color: $synth-background-color;
    text-shadow: 0.03em -0.08em $synth-border-color;
  }

  .synth {
    display: flex;
    flex-direction: column;

    .settings {
      flex-direction: row;
      display: flex;

      .selector {
        margin: auto;
      }
    }

    .keyboard {
      display: inline;
      margin: 0.5em auto;
    }
  }
}

// piano keys / controller

// NOTE: computed styles could cause performance issues eventually,

$piano-white: $site-background-color-gradient; // alice blue
$piano-black: #171717;
$piano-active: #7B68EE; // medium slate blue

$key-width: 3rem;
$black-key-ratio: 0.75;
$key-height: 12rem;

// try to prevent the controller from breaking on mobile portrait view
.controller {
  margin: 0 2rem 0;
  @media only screen and (max-width: 600px) {
    display: contents;
  }
}

.piano-keys {
  height: $key-height;
  padding: 0;
  display: block;
  position: relative;
  margin: 0;

  .piano-key:active {
    background-color: $piano-active;
  }

  li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float: left;
  }

  .black-key {
    background-color: $piano-black;
    height: calc($key-height * $black-key-ratio);
    width: calc($key-width * $black-key-ratio);
    z-index: 2;
    border-radius: 0 0 5% 5%;
  }

  .white-key {
    background-color: $piano-white;
    height: $key-height;
    width: $key-width;
    border: 1px solid $site-background-color;
    z-index: 1;
  }

  .a,.g,.f,.d,.c {
    margin-right: calc(-0.5 * $key-width * $black-key-ratio);
  }

  .d,.e,.g,.a,.b {
    margin-left: calc(-0.5 * $key-width * $black-key-ratio);
  }

}

// Slider
$vertical-slider-width: 8rem;
$vertical-slider-height: 2rem;

.knob {
  margin: auto;
  flex-direction: column;
  text-align: center;
  display: flex;

  font-family: monospace;
  color: $synth-detail-color-secondary;
  text-shadow: 1px 1px $synth-border-color;

  label {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
}

.slider-super-container {
  height: $vertical-slider-width;
  // fixme this should be controlled by the variables
  width: $vertical-slider-height;
  margin: auto;
}

.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: $vertical-slider-width;
  height: 100%;
  transform:  rotate(270deg) translate(-33%, -150%);

  background: $site-background-color-gradient;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: $vertical-slider-height;
  height: $vertical-slider-height;
  background: $synth-detail-color-primary;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: $vertical-slider-height;
  height: $vertical-slider-height;
  background: $synth-detail-color-primary;
  cursor: pointer;
}

#waveform::-webkit-slider-thumb {
  background-color: $synth-detail-color-primary-trans;
  border: 4px solid $synth-detail-color-primary;
}
#waveform {
  background-image: url("../../public/waveformselector.png");
  background-repeat: no-repeat;
  background-size: contain;
}