.rack {
  background-color: gray;
  border: 3px solid dimgray;
  border-radius: 10px;
  position: relative;

  display: flex;
  flex-direction: column;

  .synth-container {
    padding: 4rem 2rem 2rem;
  }

  .branding {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    font-family: cursive;

    color: dimgray;
    text-shadow: 0px 1px black;
  }

  .synth {
    display: flex;
    flex-direction: column;

    .settings {
      flex-direction: row;
      display: flex;

      .knob {
        margin: auto;
        flex-direction: column;
        text-align: center;
        display: flex;
      }

      .selector {
        margin: auto;
      }
    }

    .keyboard {
      display: inline;
      margin: 0.5em auto;
    }
  }
}

// piano keys / controller

// NOTE: computed styles could cause performance issues eventually,

$piano-white: ivory;
$piano-black: black;
$piano-active: #4e62b6;

$key-width: 2rem;
$black-key-ratio: 0.75;
$key-height: 8rem;

.controller {
  margin: 0 2rem 0;
}

.piano-keys {
  height: $key-height;
  padding: 0;
  display: block;
  position: relative;
  margin: 0;

  .piano-key:active {
    background-color: $piano-active;
  }

  li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float: left;
  }

  .black-key {
    background-color: $piano-black;
    height: calc($key-height * $black-key-ratio);
    width: calc($key-width * $black-key-ratio);
    z-index: 2;
  }

  .white-key {
    background-color: $piano-white;
    height: $key-height;
    width: $key-width;
    border: 1px solid $piano-black;
    z-index: 1;
  }

  .a,.g,.f,.d,.c {
    margin-right: calc(-0.5 * $key-width * $black-key-ratio);
  }

  .d,.e,.g,.a,.b {
    margin-left: calc(-0.5 * $key-width * $black-key-ratio);
  }

}
